.header-interno
	background url('../img/slider.jpg')center no-repeat
	background-size cover
	padding 220px 0 50px
	position relative
	box-shadow 0px 0px 80px #000
	.title-btn
		@media (max-width: 780px)
			text-align center
			margin-bottom 45px
		div
			background rgba(34, 34, 33, 0.8)
			display inline-block
			vertical-align middle
			position relative
			margin-left 29px
			@media (max-width: 480px)
				margin-left 10px
			a
				color #fff
				background #467b31
				padding 14px 20px 14px 10px
				float left
				font-weight 700
				font-size 13px
				&:after
					content ""
					border-top 24px solid transparent
					border-right 28px solid #467b31
					border-bottom 24px solid transparent
					position absolute
					top 0
					left -28px
				@media (max-width: 780px)
					font-size 12px
					padding 10px 40px 7px 10px
					&:after
						border-top 18px solid transparent
						border-right 18px solid #467b31
						border-bottom 18px solid transparent
						left -18px
				@media (max-width: 480px)
					font-size 12px
			span
				font-size 30px
				text-align center
				font-weight 700
				color #f5b400
				margin-left 20px
				&:before
					content ""
					border-top 24px solid transparent
					border-left 28px solid rgba(34, 34, 33, 0.8)
					border-bottom 24px solid transparent
					position absolute
					top 0
					right -28px
				@media (max-width: 780px)
					font-size 16px
					display inline-block
					padding-top 5px
					padding-right 10px
					margin-left  75px
					&:before
						border-top 18px solid transparent
						border-left 18px solid rgba(34, 34, 33, 0.8)
						border-bottom 18px solid transparent
						right -18px
				@media (max-width: 480px)
					padding-top 6px
					font-size 14px
					margin-left 51px
.contenedor-contenido
	.title-registro
		color #467b31
		font-size 20px
		font-weight 700
		padding 20px 0px
	.linea
		width 100%
		height 2px
		background #467b31
	.barra
		display flex
		.item-list
			flex auto
			font-size 13px
			font-weight 700
			color #467b31
			position relative
			padding-bottom 8px
			&:before
				content ""
				width 17px
				height 17px
				border-radius 50%
				background #467b31
				position absolute
				bottom -8px
			&:nth-child(4)
				text-align right
			&:nth-child(2),
			&:nth-child(3)
				text-align center
				&:before
					left 48%
		.item-list:nth-child(4):before
			right 0px
.c-box-section
	.box-gracias
		padding 50px 40px 50px
		box-shadow 0px 0px 8px #222
		border-radius 10px
		margin 50px 0px 10px
		h4
			color #000
			margin-bottom 5px
		h3
			color #dd4617
			font-weight 700
			margin 5px 0px
		p
			color #467b31
		.col-md-12
			>div
				padding 20px 0px
				color #000
				border-top 8px solid #cacaca
	.box-desripcion
		padding 20px
		box-shadow 0px 0px 8px #222
		border-radius 10px
		background #dfdfdf
		border 1px solid #fff
		color #3a3a3a
		margin 50px 0px 50px
		h3
			font-weight 700
			font-size 20px
			color #3e6e2c
			margin-top 0px
			img
				width 25px
		>img
			width 100%
			border 2px solid #cacaca
		.text-pagar
			color #bc3b13
			text-align center
			font-weight 700
			font-size 21px
			margin-bottom 0px
		div
			padding 20px
			h4
				color #3e6e2c
				font-weight 700
				font-size 17px
			ul 
				padding-left 16px