.header-interno
	background url('../img/slider.jpg')center no-repeat
	background-size cover
	padding 220px 0 50px
	position relative
	box-shadow 0px 0px 80px #000
	.title-btn
		@media (max-width: 780px)
			text-align center
			margin-bottom 45px
		div
			margin-left 29px
			@media (max-width: 480px)
				margin-left 10px
			a
				color #fff
				background #467b31
				padding 14px 20px 14px 10px
				float left
				font-weight 700
				font-size 13px
				&:after
					content ""
					border-top 24px solid transparent
					border-right 28px solid #467b31
					border-bottom 24px solid transparent
					position absolute
					top 0
					left -28px
				@media (max-width: 780px)
					font-size 12px
					padding 10px 14px 7px 10px
					&:after
						border-top 17px solid transparent
						border-right 18px solid #467b31
						border-bottom 17px solid transparent
						left -17px
				@media (max-width: 480px)
					font-size 12px
			span
				font-size 50px
				font-weight 700
				line-height 60px
				color #fff
				text-align left
				font-family "Smoothie Shoppe"
				text-shadow 0px 0px 13px #000
				&.min-titulo
					font-size 20px
					display block
					margin-top -16px
					font-family "Microsoft Tai Le"
					@media (max-width: 480px)
						font-size 20px
						margin-top -8px
				@media (max-width: 780px)
					padding-right 10px
					&:before
						display none
				@media (max-width: 480px)
					font-size 50px
					display block
.contenedor-contenido
	.title-registro
		color #467b31
		font-size 20px
		font-weight 700
		padding 20px 0px
	.linea
		width 100%
		height 2px
		background #467b31
	.barra
		display flex
		.item-list
			flex auto
			font-size 13px
			font-weight 700
			color #467b31
			position relative
			padding-bottom 8px
			width 20%
			&.active
				color #f5b400
				&:before
					background #f5b400
			&:before
				content ""
				width 17px
				height 17px
				border-radius 50%
				background #467b31
				position absolute
				bottom -8px
			&:nth-child(4)
				text-align right
			&:nth-child(2),
			&:nth-child(3)
				text-align center
				&:before
					left 48%
					@media (max-width: 780px)
						left 38%
		.item-list:nth-child(4):before
			right 0px
.c-box-section
	.box-linkregistrar
		padding 50px 20px 80px
		border 1px solid #ddd
		border-radius 10px
		margin 50px 0px
		h3
			text-align center
			font-size 20px
			font-weight 700
			color #000
			margin-top 0px
			margin-bottom 30px
		a
			display block
			padding 20px 20px
			margin 0px auto 10px
			text-align center
			color #fff
			font-size 15px
			max-width 200px
			&.btn-face
				background #3e5996
			&.btn-google
				background #d52a36
			i
				font-size 25px
				vertical-align middle
		form
			label
				color #467b31
				font-weight 400
				&.error
					color #f00
					font-size 10px
			.form-control
				height 45px
			.form-control:focus
				outline 0px
				border-color #ddd
			.btn
				width 100%
				padding 15px 30px
				text-align center
				font-size 16px
				font-weight 700
				color #fff
				background #3e6e2c
			p
				color #467b31
				margin-top 10px
				a
					color #3e6e2c
					font-weight 600
					padding 0px
					display inline-block
					font-size 16px
		div
			>div
				padding 10px 28px
	.box-elegir,.box-reservar
		padding 50px 40px 80px
		border 1px solid #ddd
		border-radius 10px
		margin 50px 0px
		h4
			color #000
			font-weight 600
			margin-bottom 20px
			i
				color #db4617
				margin-left -10px
				font-weight 700
				padding-right 5px
		form
			.box-radio
				.radio
					margin-top 0px
					margin-bottom 5px
					label
						color #467b31
			.form-group
				position relative
				label
					color #467b31
					font-weight 400
					&.error
						color #f00
						font-size 10px
				.form-control
					height 45px
				.form-control:focus
					outline 0px
					border-color #ddd
				textarea.form-control
					height auto
				>i
					position absolute
					top 35px
					right 10px
					font-size 30px
					color #467b31
			.g-recaptcha
				margin-bottom 15px
			.btn
				padding 8px 40px
				font-weight 700
				font-size 16px
	.box-pagar
		padding 50px 40px 50px
		border 1px solid #ddd
		border-radius 10px
		margin 50px 0px 10px
		h4
			color #000
			font-weight 600
			margin-bottom 20px
			i
				color #db4617
				margin-left -10px
				font-weight 700
		label
			color #467b31
			font-weight 400
		p
			color #000
		.detalle
			padding 15px 0px
			p
				margin-bottom 2px
	#buyButton
		padding 8px 40px
		font-size 18px
		font-weight 700
		i
			font-size 18px
		h3
			font-weight 700
			display inline-block
			font-size 18px
		&:hover
			text-decoration none;
	.box-info-pago
		padding 15px 13px
		border 1px solid #222
		border-radius 10px
		margin-top 50px
		background rgba(255,66,8,1) !important
		background -moz-linear-gradient(top, rgba(255,66,8,1) 0%, rgba(199,63,19,1) 66%, rgba(193,63,20,1) 73%, rgba(193,63,20,1) 100%) !important
		background -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,66,8,1)), color-stop(66%, rgba(199,63,19,1)), color-stop(73%, rgba(193,63,20,1)), color-stop(100%, rgba(193,63,20,1))) !important
		background -webkit-linear-gradient(top, rgba(255,66,8,1) 0%, rgba(199,63,19,1) 66%, rgba(193,63,20,1) 73%, rgba(193,63,20,1) 100%) !important
		color #fff
		position relative
		h3
			font-weight 700
			margin 0
			display inline-block
			vertical-align top
		i
			font-size 30px
			vertical-align middle
	.box-gracias
		padding 50px 40px 50px
		border 1px solid #ddd
		border-radius 10px
		margin 50px 0px 10px
		h4
			color #000
			margin-bottom 5px
		h3
			color #dd4617
			font-weight 700
			margin 5px 0px
		p
			color #467b31
		.col-md-12
			>div
				padding 20px 0px
				color #000
				border-top 8px solid #cacaca
	.box-desripcion
		padding 20px 15px
		border 1px solid #ddd
		border-radius 10px
		background #dfdfdf
		border 1px solid #fff
		color #3a3a3a
		margin 50px 0px 10px
		h3
			font-weight 700
			font-size 20px
			color #3e6e2c
			margin-top 0px
			img
				width 25px
		>img
			width 100%
			border 2px solid #cacaca
		.text-pagar
			color #bc3b13
			text-align center
			font-weight 700
			font-size 21px
			margin-bottom 0px
		div
			padding 20px
			h4
				color #3e6e2c
				font-weight 700
				font-size 17px
			ul 
				padding-left 16px
		.incluye
			padding 0px
			ul
				margin 0px
				padding 4px 0px
				li
					list-style none
					display inline-block
					font-size 11px
					color #000
					vertical-align top
					position relative
					padding-left 32px
					line-height 10px
					padding-top 8px
					font-weight 700
					max-width 120px
					margin-bottom 15px
					i
						position absolute
						background #467b31
						color #fff
						line-height 0
						padding 14px
						font-size 15px
						width 10px
						border-radius 50%
						top 0
						left 0
						&:before
							margin-left -8px
	.box-seguridad
		padding 20px
		color #000
		margin 10px 0px 50px
		h3
			font-weight 700
			font-size 20px
			padding-left 5px
		p
			font-size 12px
			margin-top 15px
			img
				float left
.descripcion-mobile
	display none
	padding-top 80px
	.box-desripcion
		padding 20px 15px
		border 1px solid #ddd
		border-radius 10px
		background #dfdfdf
		border 1px solid #fff
		color #3a3a3a
		margin 50px 0px 10px
		h3
			font-weight 700
			font-size 20px
			color #3e6e2c
			margin-top 0px
			img
				width 25px
		>img
			width 100%
			border 2px solid #cacaca
		.text-pagar
			color #bc3b13
			text-align center
			font-weight 700
			font-size 21px
			margin-bottom 0px
		div
			padding 20px
			h4
				color #3e6e2c
				font-weight 700
				font-size 17px
			ul 
				padding-left 16px
		.incluye
			padding 0px
			ul
				margin 0px
				padding 4px 0px
				li
					list-style none
					display inline-block
					font-size 11px
					color #000
					vertical-align top
					position relative
					padding-left 32px
					line-height 10px
					padding-top 8px
					font-weight 700
					margin-bottom 15px
					i
						position absolute
						background #467b31
						color #fff
						line-height 0
						padding 14px
						font-size 15px
						width 10px
						border-radius 50%
						top 0
						left 0
						&:before
							margin-left -8px
	.box-seguridad
		padding 20px
		color #000
		margin 10px 0px 50px
		h3
			font-weight 700
			font-size 20px
			padding-left 5px
		p
			font-size 12px
			margin-top 15px
			img
				float left
	@media (max-width: 768px)
		display block
	@media (max-width: 400px)
		padding-top: 50px;
#contenedor-gracias
	.box-desripcion
		margin 50px 0px 50px
#contenedor-pagar
	padding-bottom 20px
.jconfirm
	background rgba(0,0,0,0.5)
.jconfirm-box
	background #d2dacf !important
	.jconfirm-buttons
		display none
	.ty-modal-alert
		text-align center
		h2
			color #467b31
			font-size 20px
			font-weight 700
		p
			color #3e3e3e
	.jconfirm-closeIcon
		background blue
		height 30px !important
		width 30px !important
		padding 9px 6px
		border-radius 50px
		top 2px !important
		color #fff